<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">

    <a class="navbar-brand" href="#">
        <img src="assets/images/kuicon.png" alt="KUAA Icon" class="navbar-icon">
        KUAA Alumni App
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainMenu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainMenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/dashboard">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/alumnus">Alumni</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/group">Groups</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tool">Tools</a>
        </li>
        <!-- 
        Dropdown 
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
            More
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" routerLink="/settings">Settings</a></li>
            <li><a class="dropdown-item" routerLink="/profile">Profile</a></li>
          </ul>
        </li>
        -->

      </ul>
    </div>

  </div>
</nav>
